<h1>Carrito con ID: {{cartId}}</h1>

{{#each productsCart}}
<div class="productosCartViews">
    <p>ID: {{this.product._id}}</p>
    <p>Title: {{this.product.title}}</p>
    <p>Quantity: {{this.quantity}}</p>
</div>
{{/each}}